@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgba(199, 197, 176, 0.966);
  color: darkolivegreen;
  text-align: center;
  margin-top: 100px;
}

.btn-primary {
  background-color: darkolivegreen;
}

.bearCardFlex {
  display: flex;
  flex-wrap: wrap;
};

.card {
  width: 50%;
  padding: 5px;
  margin: 5px;
  background-color: darkolivegreen;
  border: darkgreen solid 2px;
  color: white;
};

img {
  border: darkgreen 1px solid;
}
.bearFishBtns {
  display: flex;
};
